version: '2'

services: 
    db:
        image: mysql:latest
        container_name: lolteam-db
        volumes: 
            # Default MySQL data volume
            - /var/lib/mysql
            # TODO : Custom directory with our SQL files
            - ./../SQL:/home
        expose:
            # Default MySQL listening port 
            - "${MYSQL_PORT}"
        environment:
            # Environment variables preceed by MYSQL_
            - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_DATABASE=${MYSQL_DATABASE}
        

    phpmyadmin:
        image: phpmyadmin/phpmyadmin:latest
        container_name: lolteam-phpmyadmin
        volumes:
            # Login sessions to MySQL
            - /sessions
        ports:
            - "${PMA_PORT}:80"
        environment:
            # Environment variables preceed by PMA_
            - PMA_HOST=db
        links:
            - db

    webpack:
        image: node:6-slim
        container_name: lolteam-webpack
        volumes:
            - ./../Web:/home/webpack
        ports:
            - "${WEBPACK_PORT}:80"
        command: ["bash", "-c", "npm install webpack -g --loglevel warn && cd /home/webpack/js && npm install --loglevel warn --no-bin-links && webpack --watch --watch-polling"]
        links:
            - db

    server:        
        image: node:6-slim
        container_name: lolteam-server
        volumes:
            - ./../Server:/home/server
        ports:
            - "${SERVER_PORT}:${SERVER_PORT}"
        command: ["bash", "-c", "cd /home/server/ && npm install --loglevel warn --no-bin-links && node /home/server/src/main.js"]
        links:
            - db:mysql